.circle1 {
    background-color: #5B8C87;
    width: 25%;
    height: 45%;
    border-top-left-radius:0%;
    border-top-right-radius:0%;
    border-bottom-left-radius:0%;
    border-bottom-right-radius:100%;
    border: 1cm 1cm 1cm 1cm;
    position: absolute;
    top:3cm;
    left:0cm;
    z-index:-1;
    border: 6.5px solid black;
    border-left-width:0px;
}

.circle2 {
    background-color: #5B8C87;
    width: 25%;
    height: 45%;
    border-top-left-radius:  100%;
    border-top-right-radius:0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border: 1cm 1cm 1cm 1cm;
    position: absolute;
    bottom:0cm;
    right:0cm;
    z-index:-1;
    border: 6.5px solid black;
    border-bottom-width:0px;
    border-right-width:0px;
}

.title-text1{
    color: rgb(0, 0, 0);
    font-family: "quiroh", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:500%;
    margin-left: 50%;
    margin-bottom: 10%;
}

.title-text2{
    color: rgb(0, 0, 0);
    font-family: "quiroh", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:500%;
    margin-left: 40%;
    top:50%;
}

.line_2{
    height: 4px;
    background-color: black;
    border-color: black;
    text-shadow: none;
    margin-top: 6.599%;
    margin-left: 0%;
    margin-right:0%;
}

body {
    margin-left: 0;
    margin-right: 0;
    background-color: #83A0BB;
    margin-bottom: 0;
}

h1 {
    font-family: "margot", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:400%;
    text-align:center;
    margin-top: 1%;
    margin-bottom:1.25%;
}

hr{
    height: 4px;
    background-color: black;
    border-color: black;
    text-shadow: none;
    top:65%;
    width:85%;
}

.rectangle1 {
    background-color: #acd5d0;
    width: 100cm;
    height: 0.75cm;
    border: 1cm 1cm 1cm 1cm;
    position: absolute;
    top:3cm;
    right:0cm;
    z-index:-1;
    border: 3.25px solid black;
    border-left-width:0px;
    border-right-width:0px;
}

.rectangle2 {
    background-color:  #acd5d0a2;
    width: 25cm;
    height: 0.75cm;
    border: 1cm 1cm 1cm 1cm;
    position: absolute;
    top:8cm;
    right:15%;
    z-index:-1;
    border: 3.25px solid black;
    border-left-width:0px;
    border-right-width:0px;
}

h3 {
    z-index: 1;
    top:3cm;
    margin:0;
}

.left-header-div {
    width: 60%;
}

.footer {
    text-align: center;
    margin-top:12.5%;
    margin-left:0%;
    margin-right:0%;
    margin-bottom:0%;
    padding:1%;
  }

footer {
    left: 0cm;
    bottom: 0cm;
    text-align: center;
    background-color:#ACD5D0;
    margin-top:8.5%;
}

@media only screen and (max-width: 1195px) {
    body{
    font-size:85%;
    margin-top: 0.5cm;
    }
}

@media only screen and (max-width: 1015px) {
    body{
    font-size:75%;
    margin-top: 0.5cm;
    }
}

@media only screen and (max-width: 915px) {
    body{    
    font-size:65%;
    margin-top: 0.5cm;
    }
}

@media only screen and (max-width: 685px) {
    body{
    font-size:60%;
    margin-top: 0.5cm;
    }
}

